{% extends 'base.html.twig' %}

{% block body %}

    <div class="box-header with-border">
        <h3 class="box-title">Student edit</h3>
        <ul class="list-unstyled" style="float:right;">
            <li style="float: left;padding-right: 5px;">
                <a href="{{ path('student_index') }}" class="btn btn-default">Back to the list</a>
            </li>

            <li style="float: left;">{{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-warning">
                {{ form_end(delete_form) }}</li>
        </ul>
    </div>
    <div class="container" style="padding-top: 10px;">
        {{ form_start(edit_form) }}
        <div class="form-group row">
            <div class="col-md-2 col-md-offset-2">
                {{ form_label(edit_form.insCode) }}
            </div>
            <div class="col-md-5">
                {{ form_errors(edit_form.insCode) }}

                {{ form_widget(edit_form.insCode) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2 col-md-offset-2">
                {{ form_label(edit_form.firstName) }}
            </div>
            <div class="col-md-5">

                {{ form_errors(edit_form.firstName) }}
                {{ form_widget(edit_form.firstName) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2 col-md-offset-2">
                {{ form_label(edit_form.lastName) }}
            </div>
            <div class="col-md-5">
                {{ form_errors(edit_form.lastName) }}
                {{ form_widget(edit_form.lastName) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2 col-md-offset-2">
                {{ form_label(edit_form.age) }}
            </div>
            <div class="col-md-5">
                {{ form_errors(edit_form.age) }}
                {{ form_widget(edit_form.age) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2 col-md-offset-2">
                {{ form_label(edit_form.gender) }}
            </div>
            <div class="col-md-5">
                {{ form_errors(edit_form.gender) }}
                {{ form_widget(edit_form.gender) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2 col-md-offset-4">
                <input type="submit" value="Edit" class="btn btn-primary btn-lg"/>
            </div>

        </div>
        {{ form_end(edit_form) }}
    </div>

{% endblock %}
