{% extends 'base.html.twig' %}

{% block body %}
<div class="box-header with-border">
    <h3 class="box-title">Results</h3>
</div>

<div class="container-fluid" style="margin-top: 20px">
    <table class="table table-bordered table-hover">
        <tr>
            <th>N°</th>
            <th>Codeinscription</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Moyenne</th>
            <th>Résultat</th>
            <th>Détails</th>
        </tr>
        </thead>
        <tbody>
        {% for item in resultat %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ item.student.insCode }}</td>
                <td>{{ item.student.firstName }}</td>
                <td>{{ item.student.lastName }}</td>
                <td>{{ item.moyenne }}</td>
                <td>
                    {% if item.moyenne < 9 %}
                        Non validé
                    {% elseif item.moyenne > 9 and item.moyenne < 10 %}
                        Rattrappage
                    {% elseif item.moyenne > 10 %}
                        Validé
                    {% endif %}

                </td>
                <td><a href="{{ path('result_resultModule',{'id': item.student.id}) }}" class="btn btn-default">Details</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
