{% extends 'base.html.twig' %}

{% block body %}
<div class="box-header with-border">
    <h3 class="box-title">Results</h3>
   {# <a href="{{ path('result_module') }}" class="btn btn-default" style="float: right;">Show results by modules</a> #}
</div>

<div class="container-fluid" style="margin-top: 20px">
    <table class="table table-bordered table-hover">
        <tr>
            <th>Codeinscription</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Moyenne</th>
            <th>Résultat</th>
        </tr>
        </thead>
        <tbody>
        {#{% for etudiant in etudiants %}#}
            <tr>
             {# <td><a href="{{ path('etudiants_show', { 'id': etudiant.id }) }}">{{ etudiant.id }}</a></td>#}
                <td>02215 {#{{ result.student.codeInscription }}#}</td>
                <td>marwen {#{{ result.student.nom }}#}</td>
                <td>agrebi {#{{ resutl.student.prenom }}#}</td>
                <td>12.25 {#{{ result.moyenne }}#}</td>
                <td>validé {#{{ result.validation }}#}</td>
            </tr>
        {#{% endfor %}#}
        </tbody>
    </table>
</div>

{% endblock %}
