{% extends 'base.html.twig' %}

{% block body %}

    <div class="box-header with-border">
        <h3 class="box-title">Scores list</h3>
        <a href="{{ path('score_new') }}" class="btn btn-default" style="float: right;">Add a new test score</a>
    </div>

    <div class="container-fluid" style="margin-top: 20px">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Identificateur</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Matière</th>
                <th>Coefficient</th>
                <th>Note sur 20</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for score in scores %}
                <tr>
                    <td><a href="{{ path('score_show', { 'id': score.id }) }}">{{ score.id }}</a></td>
                    <td>{{ score.student.firstName }}</td>
                    <td>{{ score.student.lastName }}</td>
                    <td>{{ score.element.name }}</td>
                    <td>{{ score.element.coeff }}</td>
                    <td>{{ score.testScore }}</td>
                    <td>
                        <ul class="list-unstyled">
                            <li style="float: left;padding-right: 5px">
                                <a href="{{ path('score_show', { 'id': score.id }) }}" class="btn btn-default">show</a>
                            </li>
                            <li>
                                <a href="{{ path('score_edit', { 'id': score.id }) }}" class="btn btn-default">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
